@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --brightred: hsl(12, 88%, 59%);
  --darkblue: hsl(228, 39%, 23%);
  --grayblue: hsl(227, 12%, 61%);
  --darkerblue: hsl(233, 12%, 13%);
  --palered: hsl(13, 100%, 96%);
  --lightgray: hsl(0, 0%, 98%);
  --toggle-btn: url(images/icon-hamburger.svg);
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

/* NAVBAR */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: absolute;
  top: 0;
  z-index: 10;
}

.nav-items ul {
  display: flex;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: var(--darkblue);
  padding: 20px;
  font-size: 12px;
}

.btn {
  border: none;
  background-color: var(--brightred);
  padding: 10px 20px;
  border-radius: 18px;
  font-size: 12px;
  color: var(--palered);
  box-shadow: 0 15px 8px -8px hsl(12, 88%, 59%);
}

.btn:hover {
  cursor: pointer;
}

.toggle-button {
  display: none;
  background: var(--toggle-btn) no-repeat;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cross {
  --toggle-btn: url(images/icon-close.svg);
}

/* HERO PAGE */

.hero {
  position: relative;
  overflow: hidden;
}

.h-b {
  position: absolute;
  top: -200px;
  right: -50px;
  z-index: -1;
}

.hero-content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 80px 80px;
}

.left {
  width: 88%;
  margin: 60px 0;
}

.left h1 {
  color: var(--darkblue);
  font-size: 50px;
  font-weight: 700;
}

.left p {
  width: 60%;
  font-size: 16px;
  color: var(--grayblue);
  line-height: 1.5;
  padding-top: 20px;
}

.hero-btn {
  margin-top: 20px;
}

/* ABOUT STARTS */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 80px;
  position: relative;
}

.a-b {
  position: absolute;
  top: 250px;
  left: -550px;
  z-index: -1;
}

.about-left h1 {
  width: 88%;
  color: var(--darkblue);
  font-weight: 700;
}
.about-left p {
  width: 60%;
  font-size: 16px;
  color: var(--grayblue);
  line-height: 1.5;
  padding-top: 20px;
}

.r-head {
  display: flex;
  align-items: center;
}

.r-head button {
  border: none;
  border-radius: 18px;
  color: var(--lightgray);
  background-color: var(--brightred);
  padding: 5px 20px;
  font-weight: 700;
}

.r-head h6 {
  padding: 10px 0 0 20px;
  color: var(--darkblue);
  font-size: 18px;
  font-weight: 700;
}

.r-content {
  padding-bottom: 30px;
}

.r-content p {
  max-width: 100%;
  color: var(--grayblue);
  padding: 20px 0 0 82px;
}

/* TESTIMONIAL STARTS */

.carousel {
  display: none;
}

.testimonial {
  width: 100%;
  text-align: center;
}

.t-head {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkblue);
  font-size: 40px;
  font-weight: 700;
}

.t-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 50px 0 0 0;
  text-align: center;
}

.t-cont {
  background-color: var(--lightgray);
}

.t-cont img {
  width: 70px;
  height: 70px;
  position: relative;
  bottom: 30px;
}

.t-cont h6 {
  color: var(--darkblue);
  font-size: 15px;
  font-weight: 700;
}

.t-cont p {
  color: var(--grayblue);
  font-size: 16px;
  padding-top: 15px;
}

.t-btn {
  padding: 10px 20px;
  margin: 50px 10px 0 0;
}

/* SIMPLIFY STARTS */

.simplify {
  position: relative;
  margin: 80px 0 0 0;
  background-color: var(--brightred);
  overflow: hidden;
}

.s-b {
  position: absolute;
  top: -150px;
  left: 200px;
}

.m-b {
  display: none;
}

.s-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.s-cont h3 {
  width: 50%;
  color: var(--lightgray);
  font-size: 45px;
  font-weight: 700;
}

.s-btn {
  color: var(--brightred);
  border: 1px solid var(--lightgray);
  background-color: var(--lightgray);
  font-weight: 700;
}

.s-btn:hover {
  cursor: pointer;
}

/* FOOTER STARTS */

.footer {
  background-color: black;
  opacity: 0.9;
}

.f-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  color: var(--lightgray);
}

.socials img {
  margin: 55px 10px 0 0;
}

.socials img:hover {
  cursor: pointer;
}

.middle {
  display: flex;
}

.second {
  margin-right: 70px;
}

.third {
  margin-left: 70px;
}

.second,
.third {
  list-style: none;
}

.second li,
.third li {
  padding-bottom: 8px;
}

.second li a,
.third li a {
  color: var(--lightgray);
  text-decoration: none;
  font-size: 12px;
  padding-top: 15px;
  /* margin-top: 20px; */
}

.fourth {
  text-align: end;
}

.fourth p {
  font-size: 12px;
  opacity: 0.5;
  padding-top: 55px;
}

.inputBox input {
  padding: 8px 20px;
  border-radius: 30px;
}

#text {
  display: block;
  font-size: 12px;
  font-style: italic;
  padding: 10px 80px 0 0;
}

.f-btn {
  box-shadow: none;
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  .right img {
    width: 100%;
    height: 100%;
  }

@media screen and (max-width: 950px) {
  nav {
    padding: 20px 40px;
  }
  .nav-items li a {
    padding: 10px;
  }
  .hero-content {
    margin: 100px 60px 20px 60px;
  }
  .about {
    margin: 60px;
  }
  .left {
    margin: 20px 0;
  }
  .left h1 {
    font-size: 30px;
  }
  .left p {
    font-size: 15px;
  }
  .right img {
    width: 100%;
    height: 80%;
  }
  .s-cont {
    padding: 40px 60px;
  }
  .s-cont h3 {
    font-size: 30px;
  }
  .second {
    margin-right: 20px;
  }
  .third {
    margin-left: 20px;
  }
  .f-content {
    padding: 60px;
  }
}

@media screen and (max-width: 730px) {
  nav {
    padding: 20px;
  }
  .nav-items li a {
    padding: 5px;
  }
  .hero-content {
    margin: 100px 40px;
  }
  .about {
    margin: 40px;
  }
  .s-cont {
    padding: 40px;
  }
  .f-content {
    padding: 40px;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .second {
    margin-left: 20px;
  }
  .inputBox input {
  padding: 6px 15px;
  border-radius: 30px;
  }
}

@media screen and (max-width: 630px) {
  nav {
    padding: 15px 20px;
  }
  .nav-btn {
    display: none;
  }
  .toggle-button {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--lightgray);
    margin-top: 20px;
    padding: 30px;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 10;
  }
  .nav-items ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .nav-items li {
    padding: 12px;
  }
  .nav-items li a {
    font-size: 20px;
    font-weight: 700;
  }
  .hidden {
    overflow: hidden;
  }
  .nav-items.active,nav.active {
    display: flex;
    background-color: var(--palered);
  }
  .palered {
    --nav-bg: hsl(13, 100%, 96%);
  }
  .hero-content {
    padding-top: 100px;
  }
  .carousel {
    display: block;
    text-align: center;
  }

  .carousel-head {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--darkblue);
    font-weight: 700;
  }

  .carousel-inner {
    max-width: 100%;
    text-align: center;
  }

  .carousel-img {
    position: relative;
    bottom: 70px;
    width: 30%;
    height: 30%;
  }

  .carousel-item {
    padding: 30px;
    background-color: var(--lightgray);
  }

  .carousel-item h6 {
    color: var(--darkblue);
    font-weight: 700;
    font-size: 18px;
    padding-top: 25px;
  }

  .carousel-item p {
    color: var(--grayblue);
    padding-top: 30px;
    line-height: 1.7;
  }
  .carousel-indicators [data-bs-target] {
    width: 20px;
    background-color: var(--brightred);
    position: relative;
    bottom: 0;
  }
  .carousel-btn {
    border: none;
    background-color: var(--brightred);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    color: var(--palered);
    position: relative;
    top: 80px;
  }
  .hero-content {
    display: flex;
    flex-direction: column-reverse;
    width: 91%;
    margin: 15px;
    text-align: center;
  }
  .right img {
    width: 100%;
    height: 100%;
  }
  .left h1 {
    font-size: 35px;
  }
  .left,
  .left p {
    width: 100%;
  }
  .left p {
    font-size: 15px;
  }
  .hero-btn {
    font-size: 18px;
    padding: 12px 35px;
    border-radius: 25px;
  }
  .about {
    display: block;
    padding-top: 50px;
    margin: 10px;
  }
  .about-left {
    text-align: center;
    margin: 15px;
  }
  .about-left h1,
  .about-left p {
    width: 100%;
  }
  .about-left h1 {
    font-size: 35px;
  }
  .about-left p {
    font-size: 15px;
  }
  .about-right {
    margin: 60px 0 0 0;
  }
  .r-head {
    background-color: var(--palered);
  }
  .r-head h6 {
    font-size: 15px;
    padding: 6px 0 0 5px;
  }
  .r-content p {
    padding: 20px 10px;
    font-size: 15px;
  }
  .testimonial {
    display: none;
  }
  .simplify {
    margin: 150px 0 0 0;
  }
  .s-cont {
    display: block;
    padding: 100px 30px;
    text-align: center;
  }
  .s-cont h3 {
    width: 100%;
    font-size: 40px;
  }
  .s-btn {
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 30px;
  }
  .footer {
    position: relative;
    height: 90vh;
  }
  .f-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* text-align: center; */
  }
  .inputBox input {
    margin-top: 30px;
  }
  .middle {
    display: flex;
    flex-direction: row;
    padding: 50px 0 0 0;
  }
  .middle li a {
    margin: 10px;
    font-size: 15px;

  }
  .fourth p {
    position: absolute;
    bottom: 20px;
    left: 32%;
  }
  .f-logo {
    padding-top: 40px;
  }
  .socials img {
    margin: 0;
    padding: 10px;
    width: 50px;
    height: 50px;
  }
  
  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .h-b {
    position: absolute;
    top: -350px;
    left: 50px;
  }
  .m-b {
    display: flex;
    position: absolute;
  }
  .a-b {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .fourth p {
    position: absolute;
    bottom: 20px;
    left: 26%;
  }
}

@media screen and (max-width: 380px) {
  .fourth p {
    position: absolute;
    bottom: 0;
    left: 20%;
}
  .socials img {
    margin: 0;
    padding: 8px;
  }
}
@media screen and (max-width: 330px) {
  .fourth p {
    position: absolute;
    bottom: 0;
    left: 18%;
  }
  .socials img {
    width: 40px;
    height: 40px;
  }
}
}