@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --brightred: hsl(12, 88%, 59%);
  --darkblue: hsl(228, 39%, 23%);
  --grayblue: hsl(227, 12%, 61%);
  --darkerblue: hsl(233, 12%, 13%);
  --palered: hsl(13, 100%, 96%);
  --lightgray: hsl(0, 0%, 98%);
  --toggle-btn: url(images/icon-hamburger.svg);
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  /* background-color: var(--palered); */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.nav-items ul {
  display: flex;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: var(--darkblue);
  padding: 20px;
  font-size: 12px;
}

.btn {
  border: none;
  /* font-size: 30px; */
  background-color: var(--brightred);
  padding: 10px 20px;
  border-radius: 18px;
  font-size: 12px;
  color: var(--palered);
}

.toggle-button {
  display: none;
  background: var(--toggle-btn) no-repeat;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cross {
  --toggle-btn: url(images/icon-close.svg);
}

.hero {
  background-color: var(--palered);
}

.hero-content {
  width: 93%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 80px;
}

.left {
  width: 88%;
  margin: 60px 0;
}

.left h1 {
  color: var(--darkblue);
  font-size: 50px;
  font-weight: 700;
}

.left p {
  width: 60%;
  font-size: 18px;
  color: var(--grayblue);
  line-height: 1.5;
  padding-top: 20px;
}

.hero-btn {
  margin-top: 20px;
}

.carousel {
  display: none;
}
@media screen and (max-width: 1150px) {
  .right img {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 950px) {
  nav {
    padding: 20px 40px;
  }
  .nav-items li a {
    padding: 10px;
  }
  .left {
    margin: 20px 0;
  }
  .left h1 {
    font-size: 30px;
  }
  .left p {
    font-size: 15px;
  }
  .right img {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 730px) {
  nav {
    padding: 20px;
  }
  .nav-items li a {
    padding: 5px;
  }
}

@media screen and (max-width: 630px) {
  nav {
    padding: 30px 20px;
  }
  .nav-btn {
    display: none;
  }
  .toggle-button {
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-color: var(--lightgray);
    margin-top: 20px;
    padding: 30px;
    position: absolute;
    top: 65px;
    right: 0px;
    z-index: 10;
  }
  .nav-items ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* padding: 90px 0 0 7px; */
    width: 100%;
  }
  .nav-items li {
    padding: 12px;
  }
  .nav-items li a {
    /* padding: 10px; */
    font-size: 20px;
    font-weight: 700;
  }
  .hidden {
    overflow: hidden;
  }
  .nav-items.active {
    display: flex;
  }
  .carousel {
    display: block;
    text-align: center;
    /* position: relative; */
  }

  .carousel-head {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--darkblue);
    font-weight: 700;
  }

  .carousel-inner {
    max-width: 100%;
    text-align: center;
  }

  .carousel-img {
    position: relative;
    bottom: 70px;
    width: 30%;
    height: 30%;
  }

  .carousel-item {
    padding: 30px;
    background-color: var(--lightgray);
  }

  .carousel-item h6 {
    color: var(--darkblue);
    font-weight: 700;
    font-size: 18px;
    padding-top: 25px;
  }

  .carousel-item p {
    color: var(--grayblue);
    padding-top: 30px;
    line-height: 1.7;
  }
  .carousel-indicators [data-bs-target] {
    width: 20px;
    background-color: var(--brightred);
    position: relative;
    bottom: 0;
  }
  .carousel-btn {
    border: none;
    background-color: var(--brightred);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    color: var(--palered);
    position: relative;
    top: 80px;
  }
  .hero-content {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 20px;
    text-align: center;
  }
  .right img {
    width: 100%;
    height: 100%;
  }
  .left h1 {
    font-size: 50px;
  }
  .left,
  .left p {
    width: 100%;
  }
  .left p {
    font-size: 20px;
  }
  .hero-btn {
    font-size: 18px;
    padding: 12px 35px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 450px) {
  .left h1 {
    font-size: 35px;
  }
  .left p {
    font-size: 18px;
  }
}
